.side-bar{
  background-image: linear-gradient(#264443, #2f5755);
  width: 145px;
  position: fixed;
  top: 0px;
  left: 0px;
  bottom: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 85px;
  position: fixed;
}

.facebook, .instagram, .twitter{
  color: white;
  width: 40px;
  height: 40px;
  transition: all 0.3s ease;
}

.facebook:hover, .instagram:hover, .twitter:hover{
  transform: scale(1.5);
}

.back-btn{
  border-radius: 40px;
  background-color: transparent;
  border: 3px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 50px;
  height: 50px;
  transition: all 0.2s ease;
  position: absolute;
  top: 30px;
}

.back-btn:hover{
  transform: scale(1.1);
}

.back-btn .arrow-left{
  color: white;
  pointer-events: none;
}