.side-bar{
  background-image: linear-gradient(#264443, #2f5755);
  width: 145px;
  position: fixed;
  top: 0px;
  left: 0px;
  bottom: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 85px;
}

.facebook, .instagram, .twitter{
  color: white;
  width: 40px;
  height: 40px;
  transition: all 0.3s ease;
}

.facebook:hover, .instagram:hover, .twitter:hover{
  transform: scale(1.5);
}