body{
  margin: 0px;
  padding-bottom: 500px;
}

a{
  color: black;
}

p{
  font-family: "Poppins", sans-serif;
}

.main-login{
  background-image: linear-gradient(#507e7c, #264443);
  left: 145px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  display: flex;
  position: fixed;
}

.left-login{
  width: 60%;
  padding-left: 40px;
}

.left-login-top{
  width: 100%;
  height: 90px;
  display: flex;
  align-items: center;
}

.left-login-top p{
  color: white;
  font-family: "Poller One", sans-serif;
  font-weight: 300px;
  font-size: 50px;
  margin: 0px;
  padding-left: 40px;
}

.left-login-bottom{
  height: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 80px;
} 

.left-login-bottom img{
  width: 750px; 
  height: 500px; 
  margin-left: 20px;
  margin: 0px;
  display: block;
  z-index: 100;
}

.radius-circle{
  margin-left: 80px;
  margin-top: -100px;
  width: 650px;
  height: 40px;
  border-radius: 460px;
  background-color: #264443;
}

.right-login{
  width: 40%;
}

.right-login-top{
  height: 90px;
  display: flex;
  flex-shrink: none;
  align-items: center;
}

.admin-button{
  border: none;
  border-radius: 40px;
  font-family: "Poppins", sans-serif;
  font-size: 32px;
  background-color: #F3F4F4;
  padding: 4px 20px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.right-login-top .about{
  font-size: 32px;
  color: white;
  text-decoration: none;
  border-bottom: 2px solid transparent;
  transition: border-bottom 1s ease; 
  cursor: pointer;
}

.right-login-top .about:hover{
  text-decoration: underline;
  border-bottom: 2px solid red;
}


.right-login-top-product{
  flex: 1;
}

.right-login-top-about{
  flex: 2;
}

.right-login-bottom{
  height: 100%;
  position: fixed;
}

.right-login-bottom-mess{
  margin-top: 110px;
  display: flex;
  align-items: center;
  margin-right: 40px;
}

.right-login-bottom-mess p{
  color: white;
  font-size: 32px;
  font-weight: bold;
}

.right-login-button{
  display: flex;
  justify-content: center;
}

.login-button{
  border: none;
  border-radius: 40px;
  font-family: "Poppins", sans-serif;
  font-size: 32px;
  background-color: #F3F4F4;
  padding: 10px 60px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.login-button:hover, .admin-button:hover{
  color: white;
  background-color: #477d7a;
}

.login-button:active, .admin-button:active{
  background-color: #000000;
}

.right-login-bottom-reg{
  color: white;
  display: flex;
  justify-content: center;
}

.right-login-bottom-reg a{
  color: white;
  font-weight: bold;
}





