.side-bar{
  background-image: linear-gradient(#264443, #2f5755);
  width: 145px;
  position: fixed;
  top: 0px;
  left: 0px;
  bottom: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 45px;
}

.facebook, .instagram, .twitter{
  color: white;
  width: 40px;
  height: 40px;
  transition: width 0.2s ease-in-out, height 0.2s ease-in-out;
}

.facebook:hover, .instagram:hover, .twitter:hover{
  color: white;
  width: 50px;
  height: 50px;
}